/*
 * Copyright 2020 Engicam srl
 * Copyright 2018 NXP
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "icore-imx8mm-ctouch2.dts"

/ {
	model = "Engicam i.Core MX8MM CTOUCH2.0 AM10";
};


&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

    polytouch: edt-ft5x26@38 {
                compatible = "edt,edt-ft5526";
                reg = <0x38>;
                pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_edt_ft5x26>;
                interrupt-parent = <&gpio3>;
//                interrupts = <25 IRQ_TYPE_EDGE_FALLING>;
//                reset-gpios= <&gpio1 4 GPIO_ACTIVE_LOW>;
                interrupts = <25 0>;
                reset-gpios= <&gpio1 4 1>;
    };
};

&i2c4 {
  clock-frequency = <100000>;
  pinctrl-names = "default";
  pinctrl-0 = <&pinctrl_i2c4>;
  status = "okay";

  lvds_bridge: sn65dsi83@2c {
    compatible = "ti,sn65dsi83";
    reg = <0x2c>;
    ti,dsi-lanes = <2>;
    ti,lvds-format = <2>;
    ti,lvds-bpp = <24>;
    ti,width-mm = <149>;
    ti,height-mm = <93>;
    enable-gpios = <&gpio3 9  GPIO_ACTIVE_HIGH>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_dsi_lvds_bridge>;
    backlight = <&backlight_lvds>;
    backlight-brightness-level = <7>;    
    status = "okay";

       display-timings {
            lvds {
                clock-frequency = <62500000>;
                hactive = <1024>;
                vactive = <600>;
                hback-porch = <60>;
                hfront-porch = <50>;
                vback-porch = <2>;
                vfront-porch = <3>;
                hsync-len = <20>;
                vsync-len = <1>;
                hsync-active = <0>;
                vsync-active = <0>;
                de-active = <1>;
                pixelclk-active = <0>;
            };
        };

    port {
      sn65dsi83_in: endpoint {
        remote-endpoint = <&dsim_to_sn65dsi8>;
      };
    };
  };
};

&iomuxc {
	touchpanel{
		pinctrl_edt_ft5x26:  edt-ft5x26grp  {
			fsl,pins = <
					MX8MM_IOMUXC_SAI5_MCLK_GPIO3_IO25   		0xc6
//					MX8MM_IOMUXC_GPIO1_IO08_GPIO1_IO8		0x19
					MX8MM_IOMUXC_GPIO1_IO04_GPIO1_IO4		0x19
			>;	
		};
	};
};
